.modal-container {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.buy-now-modal {
  background-color: var(--main-bg-color);
  width: 610px;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}
.close-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  float: right;
}

.modal-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.modal-title h2 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.03em;
  text-align: center;
}
span {
  color: var(--main-color);
}

.modal-content {
  border: none;
  display: flex;
  flex-direction: column;
}
legend {
  padding: 10px;
}

.field-names {
  display: flex;
  gap: 10px;
}
.field-group {
  flex: 1;
}

.modal-content fieldset {
  border: none;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.modal-content input,
.modal-content textarea {
  width: 100%;
  padding: 22px 24px;
  border-radius: 10px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  background-color: var(--white-color);
  color: var(--font-color);
  font-size: 14px;
}

.modal-content input::placeholder,
.modal-content textarea::placeholder {
  color: #4040404d;
}

.submit-button {
  padding: 14px 20px;
  background-color: var(--main-color);
  color: var(--white-color);
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: var(--main-color-hover);
}

@media (max-width: 1024px) {
  .buy-now-modal {
    width: 90%;
    padding: 1rem;
  }

  .modal-title h2 {
    font-size: 22px;
  }

  .input-group {
    flex-direction: column;
  }

  .field-names {
    flex-direction: column;
    gap: 5px;
  }
}

@media (max-width: 768px) {
  .buy-now-modal {
    width: 95%;
  }

  .modal-title h2 {
    font-size: 20px;
  }

  .field-names {
    flex-direction: column;
  }
}

.card-logo{
  vertical-align: middle;
}
