.features-container{
    background-color:#FAFAFA;
}

.features-header{
    font-family: Montserrat;
    font-size: 24px;
}

.features-flex-container{
    display: flex;
}

.features-flex-container > div {
    margin: 32px;
    border-radius: 15px;
}

.features-p-header{
    text-transform: uppercase;
    font-size: 14px;
}
