.features-container{
    background-color:var(--main-bg-color);
}

.features-header{
    font-family: var(-secondary-text-font);
    font-size: 24px;
    text-align: center;
    margin: 32px;
}

.features-flex-container{
    display: flex;
    
}

@media (max-width: 800px) {
.features-flex-container {
    flex-direction: column;
    }
}

.features-flex-container > div {
    margin: 28px;
    border-radius: 15px;
    flex-grow: 1;
    flex-basis: 0;
}

.features-p-text{
    text-transform: uppercase;
    font-size: 2em;
    margin: 24px;
    text-align: center;
}


.features-color-text{
    color: var(--main-color);
}

.features-text{
    
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 14px;
}

.first-featured-item{
    box-shadow: 0px 4px 4px rgb(0,0,0,.5);
    text-align: center;
    background-color: var(-secondary-bg-color);
    border: 1px solid;
    border-color: var(-secondary-bg-color);
    color: var(--text-main-color);
}

.second-featured-item{
    box-shadow: 0px 4px 4px rgb(0,0,0,.5);
    border: 1px solid;
    border-color: var(-secondary-bg-color);
    text-align: center;
}

.third-featured-item{
    box-shadow: 0px 4px 4px rgb(0,0,0,.5);
    text-align: center;
    background-color: var(--main-color);
    border-color: var(--main-color);
    border: 1px solid;
    color: var(--white-color);
}

.fourth-featured-item{
    box-shadow: 0px 4px 4px rgb(0,0,0,.5);
    text-align: center;
    border-color: var(--main-color);
    border: 1px solid;
}

.features-p-text-details{
    text-transform: uppercase;
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-left: 20px;
    text-align: left;
    padding-left: 5px;
    padding-right: 100px;
    letter-spacing: -1px;
}

.list {
    font-size: .75em;
    margin: 24px;
    text-align: left;
    padding-left: 20px;
    letter-spacing: -.5px;
    margin-bottom: 10px;
}

.first-featured-item-details{
    box-shadow: 0px 4px 4px rgb(0,0,0,.5);
    text-align: center;
    background-color: var(--main-bg-color);
    border: 1px solid;
    border-color: var(-secondary-bg-color);
    color: var(--text-main-color);
    display: none;
    font-size: 32px;
    text-align: left;
  
}

.second-featured-item-details{
    box-shadow: 0px 4px 4px rgb(0,0,0,.5);
    text-align: center;
    background-color: var(--main-bg-color);
    border: 1px solid;
    border-color: var(-secondary-bg-color);
    color: var(--text-main-color);
    display: none;
    font-size: 32px;
    text-align: left;
}

.third-featured-item-details{
    box-shadow: 0px 4px 4px rgb(0,0,0,.5);
    text-align: center;
    background-color: var(--main-bg-color)  ;
    border: 1px solid;
    border-color: var(-secondary-bg-color);
    color: var(--text-main-color);
    display: none;
    font-size: 32px;
    text-align: left;
}

.fourth-featured-item-details{
    box-shadow: 0px 4px 4px rgb(0,0,0,.5);
    text-align: center;
    background-color: var(--main-bg-color);  
    border: 1px solid;
    border-color: #452103;
    color: black;
    display: none;
    font-size: 32px;
    text-align: left;
}

.featured-item-image{
    padding: 32px;
}

.pill-price {
    background-color: var(--main-color);
    border: none;
    color: var(--white-color);
    text-align: center;
    text-decoration: none;
    display: inlinek;
    border-radius: 35px;
    margin-left: 20px;
    padding: 5px 10px;
    font-size: .5em;
}

.pill-features {
    background-color: var(--white-color);
    border: 1px solid;
    color: var(--tex-main-color);
    text-align: center;
    text-decoration: none;
    border-radius: 35px;
    padding: 5px 10px;
    font-size: .5em;
}