.features-container{
    background-color:#FAFAFA;
}

.features-header{
    font-family: Montserrat;
    font-size: 24px;
    text-align: center;
    margin: 32px;
}

.features-flex-container{
    display: flex;
}

.features-flex-container > div {
    margin: 28px;
    border-radius: 15px;
}

.features-p-text{
    text-transform: uppercase;
    font-size: 2em;
    margin: 24px;;
    text-align: center;
}

.features-color-text{
    color: #FB8500;
}

.features-text{
    display: flex;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 14px;
    color: #666;
}

.first-featured-item{
    box-shadow: 0px 4px 4px rgb(0,0,0,.5);
    text-align: center;
    background-color: #452103;   
    border: 1px solid;
    border-color: #452103;
    color: white;
}

.second-featured-item{
    box-shadow: 0px 4px 4px rgb(0,0,0,.5);
    border: 1px solid;
    border-color: #452103;
    text-align: center;
}

.third-featured-item{
    box-shadow: 0px 4px 4px rgb(0,0,0,.5);
    text-align: center;
    background-color: #FB8500;
    border-color: #FB8500;
    border: 1px solid;
    color: white;
}

.fourth-featured-item{
    box-shadow: 0px 4px 4px rgb(0,0,0,.5);
    text-align: center;
    border-color: #FB8500;
    border: 1px solid;
}

.featured-item-image{
    padding: 32px;
}