.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 20px;
  padding-block-start: 20px;
  padding-block-end: 14px;

  @media (min-width: 48rem) {
    margin-inline: 32px;
  }
}

.logo-link {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  font-family: var(--secondary-text-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.42px;

  @media (min-width: 48rem) {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.56px;
  }
}

.logo-link span:first-child {
  color: var(--main-color);
  font-style: italic;
}

.logo-link span:nth-child(2) {
  color: var(--text-main-color);
  text-transform: uppercase;
}

.logo-link svg {
  color: var(--main-color);
  height: 21px;
  width: 21px;

  @media (min-width: 48rem) {
    height: 24px;
    width: 24px;
  }
}
