.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 20px;
  padding-block-start: 20px;
  padding-block-end: 14px;

  @media (min-width: 48rem) {
    margin-inline: 32px;
  }
}

.heading h1 span:first-child,
.heading h1 span:last-child {
  font-family: var(--secondary-text-font);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.42px;
}

h1 span:first-child {
  color: var(--main-color);
  font-style: italic;
}

h1 span:last-child {
  color: var(--text-main-color);
}

.heading {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.heading img {
  height: 21px;
  width: 21px;
}
