/* Modal Styles */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-modal-content {
  background-color: var(--main-bg-color);
  border: 1px solid rgba(17, 17, 17, 0.5);
  border-radius: 15px;
  position: relative;
}

.review-modal__icon {
  height: 24px;
  width: 24px;
}

.close {
  color: var(--text-main-color);
  position: absolute;
  top: 14px;
  right: 14px;
  z-index: 3;
}

.close:is(:hover, :focus) {
  color: var(--main-color);
  outline: 1px dotted currentColor;
  outline-offset: 0.2em;
}

.hidden {
  display: none;
}

.review-modal__form {
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
  padding: 32px 20px;
  max-width: 320px;

  @media (min-width: 768px) {
    padding: 40px;
    max-width: 517px;
  }
}

.review-modal__form fieldset {
  border: none;
}

.review-modal__form legend {
  color: var(--text-main-color);
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.72px;
  margin-block-end: 32px;
  padding: 0;
  text-transform: uppercase;
}

.review-modal__form legend span:first-child {
  color: var(--text-main-color);
}

.review-modal__form legend span:last-child {
  color: var(--main-color);
}

@media (min-width: 768px) {
  .review-modal__form legend span:last-child::before {
    content: '\a';
    white-space: pre;
  }
}

.review-modal__field {
  position: relative;
}

.review-modal__field input,
.review-modal__field textarea {
  background-color: var(--main-bg-color);
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  caret-color: var(--text-main-color);
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-block-end: 14px;
  padding: 14px 18px;
  width: 100%;

  @media (min-width: 768px) {
    font-size: 18px;
    margin-block-end: 18px;
    padding: 22px 24px;
  }
}

.review-modal__field label {
  color: rgba(17, 17, 17, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  display: block;
  pointer-events: none;
  position: absolute;
  left: 18px;
  top: 14px;
  transition: 0.2s ease all;

  @media (min-width: 768px) {
    font-size: 18px;
    letter-spacing: -0.36px;
    left: 22px;
    top: 24px;
  }
}

.review-modal__field textarea {
  resize: none;
}

.review-modal__field input:focus,
.review-modal__field textarea:focus {
  border: 1.5px solid var(--main-color);
}

.review-modal__field input:focus ~ label,
.review-modal__field input:valid ~ label,
.review-modal__field
  input:invalid:where([aria-invalid='true'])
  ~ label,
.review-modal__field textarea:focus ~ label,
.review-modal__field textarea:valid ~ label,
.review-modal__field textarea:where([aria-invalid='true']) ~ label {
  background-color: var(--main-bg-color);
  font-size: 0.75em;
  top: -0.8em;
  left: 0.75em;
  padding: 0 0.25em;

  @media (min-width: 768px) {
    font-size: 1em;
  }
}

.review-modal__field input:focus ~ label::after,
.review-modal__field input:valid ~ label::after,
.review-modal__field
  input:invalid:where([aria-invalid='true'])
  ~ label::after,
.review-modal__field textarea:focus ~ label::after,
.review-modal__field textarea:valid ~ label::after,
.review-modal__field
  textarea:invalid:where([aria-invalid='true'])
  ~ label::after {
  content: ' (required)';
}

.review-modal__field input:invalid:where([aria-invalid='true']),
.review-modal__field textarea:invalid:where([aria-invalid='true']),
/* For border color change on text with empty spaces */
.review-modal__field input:valid:where([aria-invalid='true']) {
  border: 1.5px dashed var(--text-main-color);
}

.review-modal__field input:invalid:where([aria-invalid='false']) {
  border: 1.5px solid rgba(17, 17, 17, 0.05);
}

.phone-input__icon {
  background-color: var(--main-bg-color);
  border-right: 2px solid rgba(17, 17, 17, 0.08);
  color: var(--text-main-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
  position: absolute;
  top: 15px;
  left: 18px;
  display: inline-flex;
  align-items: center;
  gap: 18px;
  padding-inline-end: 14px;

  @media (min-width: 768px) {
    font-size: 18px;
    padding-inline-end: 20px;
    top: 24px;
    left: 24px;
  }
}

.phone-input__icon img {
  height: 18px;
  width: 24px;

  @media (min-width: 768px) {
    height: 24px;
    width: 32px;
  }
}

label[for='review-modal-phone'] {
  position: absolute;
  left: 106px;

  @media (min-width: 768px) {
    left: 136px;
  }
}

#review-modal-phone {
  padding-inline-start: 106px;

  @media (min-width: 768px) {
    padding-inline-start: 136px;
  }
}

.review-modal__submit {
  background-color: var(--main-color);
  border-radius: 100px;
  color: var(--white-color);
  padding: 12px 28px;

  @media (min-width: 768px) {
    padding: 14px 40px;
  }
}

.review-modal__submit:hover,
.review-modal__submit:focus {
  background-color: var(--main-color-hover);
}

.review-modal__submit:focus {
  outline: 1px dashed var(--text-main-color);
  outline-offset: 0.2em;
}

.review-modal__textarea {
  padding: 0;
}

.review-modal__error-message {
  color: var(--main-text-color);
  display: none;
  font-size: 12px;
  font-style: italic;
  line-height: 1.5;
  margin-block-end: 14px;
  margin-block-start: -14px;
  text-align: right;
}

[aria-invalid='true'] ~ .review-modal__error-message {
  display: block;
}
