@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./features.css');
@import url('./top-seller.css');
@import url('./reviews.css');
@import url('./subscribe.css');
@import url('./footer.css');

:root {
  --main-color: #02897A;
  --main-color-hover: #346c6d;
  --text-main-color: #22343D;
  --white-color: #fff;
  --secondary-bg-color: #EDEDED;
  --third-bg-color: #f5f5f5;
  --transition: all 0.3s;
  --main-text-font: 'Poppins', sans-serif;
  --secondary-text-font: 'Montserrat', sans-serif;
  --bkg-black-low-opacity-color: rgba(18, 20, 23, 0.5);
  --bkg-grey-low-opacity-color: rgba(244, 244, 244, 0.5);
}