.subscribe-modal {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  z-index: 999;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.subscribe-modal.show{
  opacity: 1;
  pointer-events: auto;
}

.modal-header {
  height: 196px;
  max-width: 538px;
  width: 90%;
  background-image: url("/images/subscribe-Pumpkin-pile.avif");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin: auto;
  padding: 40px;
  border-radius: 40px 40px 0px 0px;
}

#subscribeModal .close {
  color: #fff;
  position: absolute;
  right: 40px;
  top: 40px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  opacity: 0.75;
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 40px;
  border: 1px solid #888;
  width: 90%;
  max-width: 538px;
  border-radius: 0px 0px 40px 40px;
}

#subscribeModal .modal-content span,
#subscribeModal .modal-content strong {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-align: left;
  text-transform: uppercase;
  color:#111111;
}

#subscribeModal .modal-content strong {
  color: #FB8500;
}

#subscribeModal .modal-content form {
  width: 100%;
  margin-top: 20px;
}

#subscribeModal input::placeholder {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.94px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #4040404D;
}

#subscribeModal input[type=email],
#subscribeModal input[type=submit] {
  display: inline-block;
  border-radius: 100px;
  padding: 12px;
}

#subscribeModal input[type=email] {
  width: 60%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#subscribeModal input[type=submit] {
  width: 35%;
  background-color: #FB8500;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: center;
  border: none;
  transition: all 400ms ease-in-out;
  cursor: pointer;
}

#subscribeModal input[type=submit]:hover {
  opacity: 0.75;
}

@media(max-width:700px) {
  .modal-header {
    background-size: 130%;
    background-position: center;
  }
}