/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  overflow:hidden;
  border-radius:20px;
}


.modal-header{
  height:196px;
  max-width:538px;
  width:90%;
  background-image: url("/images/subscribe-Pumpkin-pile.avif");
  background-size: 100%;  /* Adjust this percentage to zoom out */
background-position: center;
background-repeat: no-repeat;
  position: relative;
  margin: auto;
  padding: 40px;
  border-radius:40px 40px 0px 0px;
}
@media(max-width:700px) {
  .modal-header {
    background-size: 130%; 
    background-position: center;  /* Keeps the center of the image visible */
  }
}


  /* The Close Button */
  .close {
    color: #fff;
    position:absolute;
    right:40px;
    top:40px;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 40px;
  border: 1px solid #888;
  width: 90%;
  max-width:538px;
  border-radius:0px 0px 40px 40px;
}

.modal span, .modal strong{
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-align: left;
  text-transform:uppercase;
}
.modal p{
  color:#111111
} 
.modal strong{
  color:#FB8500;
}

.modal form {width:100%}
input::placeholder{
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.94px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #4040404D;
}
input[type=email],input[type=submit]{
  display: inline-block;
  border-radius:100px;
  padding: 12px;
}
input[type=email] {
  width: 60%;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
input[type=submit] {
  width: 35%;
  background-color:#FB8500;
  color:#fff;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: center;
    border:none;
    transition: all 400ms ease-in-out;

}

input[type=submit]:hover{
  opacity:25%;
}



