<section class="benefits">
    <div class="benefits-container">
      <div class="benefit-card">
        <div class="icon">
          <img src="/images/logo1.png" alt="Family-Owned Icon">
        </div>
        <h3 class="benefit-title">Family-Owned</h3>
        <p class="benefit-description">
          Proudly serving the Midwest since 1995, our family-run farm is dedicated to growing pumpkins with care and passion, passed down through generations.
        </p>
      </div>
      <div class="divider"></div>
      <div class="benefit-card">
        <div class="icon">
          <img src="/images/logo2.png" alt="Best Price Icon">
        </div>
        <h3 class="benefit-title">Best Price</h3>
        <p class="benefit-description">
          We believe in offering the finest pumpkins at the best prices. With Midwest Pumpkins, you get exceptional quality without breaking the bank.
        </p>
      </div>
      <div class="divider"></div>
      <div class="benefit-card">
        <div class="icon">
          <img src="/images/logo3.png" alt="Organic Icon">
        </div>
        <h3 class="benefit-title">100% Organic, Farm-Raised</h3>
        <p class="benefit-description">
          Our pumpkins are grown naturally on Illinois soil, free from pesticides and chemicals. You'll enjoy the pure, fresh taste of the harvest, straight from our fields.
        </p>
        <div class="scroll-up">
          <button id="scrollUpBtn" class="scroll-up-btn" style="display: none">
            <img  class="icon" src="/images/Scroll-up.svg" alt="Scroll up icon" />
          </button>
        </div>
        
      </div>
    </div>
  </section>
   