<div class="burger-menu">
  <div class="burger-menu__content">
    <button
      class="burger-menu__close"
      aria-label="Close menu"
      id="close-menu"
    >
      <svg aria-hidden="true" class="burger-menu__icon">
        <use href="sprite.svg#icon-x-close"></use>
      </svg>
    </button>
    <ul
      id="mobile-menu"
      class="burger-menu__links"
      aria-labelledby="nav-label"
    >
      <li class="burger-menu__item">
        <a href="#home">Home</a>
      </li>
      <li class="burger-menu__item">
        <a href="#about">About</a>
      </li>
      <li class="burger-menu__item">
        <a href="#best-pumpkins">Best pumpkins</a>
      </li>
      <li class="burger-menu__item">
        <a href="#top-sellers">Top sellers</a>
      </li>
      <li class="burger-menu__item">
        <a href="#reviews">Reviews</a>
      </li>
    </ul>
    <div class="burger-menu__footer">
      <span id="social-media-links" hidden>Social Media Links</span>
      <ul aria-labelledby="social-media-links">
        <li class="burger-menu__item">
          <a
            href="https://github.com"
            target="_blank"
            aria-label="GitHub"
          >
            <svg aria-hidden="true">
              <use href="sprite.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li class="burger-menu__item">
          <a
            href="https://www.youtube.com"
            target="_blank"
            aria-label="YouTube"
          >
            <svg aria-hidden="true">
              <use href="sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li class="burger-menu__item">
          <a
            href="https://www.linkedin.com"
            target="_blank"
            aria-label="LinkedIn"
          >
            <svg aria-hidden="true">
              <use href="sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
        <li class="burger-menu__item">
          <a href="https://x.com" target="_blank" aria-label="X">
            <svg aria-hidden="true">
              <use href="sprite.svg#icon-x-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="burger-menu__item">
          <a
            href="https://www.facebook.com"
            target="_blank"
            aria-label="Facebook"
          >
            <svg aria-hidden="true">
              <use href="sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      <div class="burger-menu__footer-copyright">
        <p>©2024 Midwest Pumpkins by OpenCode Academy.</p>
        <p>All rights reserved.</p>
      </div>
    </div>
  </div>
</div>
