<link rel="stylesheet" href="../styles/burger-menu.css">
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <h1>Midwest <span>Pumpkins</span></h1>
                <img src="../../public/images/Group.png" alt="Pumpkin Logo" class="logo-img">
            </div>

            <div class="hamburger-lines">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            
            <div class="social-icons">
                <a href="#"><img src="../../public/images/mdi_github.png" alt="Github"></a>
                <a href="#"><img src="../../public/images/mdi_youtube.png" alt="YouTube"></a>
                <a href="#"><img src="../../public/images/mdi_linkedin.png" alt="LinkedIn"></a>
                <a href="#"><img src="../../public/images/iconoir_x.png" alt="Twitter"></a>
                <a href="#"><img src="../../public/images/ic_baseline-facebook.png" alt="Facebook"></a>
            </div>

            <div class="nav-links">
                <a href="#" class="active">Home</a>
                <a href="#">About</a>
                <a href="#">Best Pumpkins</a>
                <a href="#">Top Sellers</a>
                <a href="#">Reviews</a>
            </div>
        </nav>
    </header>
    <script src="../js/burger-menu.js"></script>
</body>



