
<div class="modal-container">


<!-- the modal -->
 <div class="buy-now-modal">
  <button class="close-button">&times;</button>
  <br>

  <div class="modal-title">
    <h2><span>BUY</span>&nbsp;NOW</h2>
  </div>
  
  
                  <!-- the modal content -->
  
    <form id="buyForm" class="modal-content"> 
      <fieldset>


        <div class="field-names">
          
          <div class="review-modal__field">
            <input
              class="review-modal__input"
              type="text"
              id="review-name"
              name="review-name"
              maxlength="50"
              minlength="2"
              autocomplete="off"
              aria-describedby="name-error"
              required
            />
            <label for="review-name" class="review-modal__label"
              >First name</label>
            <p class="review-modal__error-message" id="name-error"></p>
          </div>

          <div class="review-modal__field">
            <input
              class="review-modal__input"
              type="text"
              id="review-name"
              name="review-name"
              maxlength="50"
              minlength="2"
              autocomplete="off"
              aria-describedby="name-error"
              required
            />
            <label for="review-name" class="review-modal__label"
              >Last name</label
            >
            <p class="review-modal__error-message" id="name-error"></p>
          </div>
        </div>
    
        <div class="review-modal__field">
          <input
            class="review-modal__input"
            type="email"
            id="review-email"
            name="review-email"
            maxlength="64"
            autocomplete="off"
            aria-describedby="email-error"
            required
          />
          <label for="review-email" class="review-modal__label"
            >Email</label
          >
          <p class="review-modal__error-message" id="email-error"></p>
        </div>
      
        <div class="review-modal__field">
          <div class="phone-input">
            <input
              class="review-modal__input"
              type="tel"
              id="review-phone"
              name="review-phone"
              aria-describedby="phone-error"
              required
            />
            <span class="phone-input__icon">
              <img
                src="images/us-flag-icon.png"
                alt="United States flag"
              />
              +1
            </span>
            <label for="review-phone" class="review-modal__label">
              Phone number
            </label>
            <p
              class="review-modal__phone-message"
              id="phone-error"
            ></p>
          </div>
        </div>

    
        
        <div class="review-modal__field">
        <input type="text" id="number" name="number"
        pattern="\d{16}"
        title="Card number must be 16 digits"
        required>
        <span class="card-logo">💳</span>
        <label for="buy-card" class="review-modal__label">
          Card number
        </label>
        </div>  

        <div class="review-modal__field">
          <textarea
            id="review-message"
            name="review-message"
            maxlength="200"
            rows="5"
            aria-describedby="textarea-error"
            required
          ></textarea>
          <label for="review-message" class="review-modal__label">
            Message
          </label>
          <p
            class="review-modal__textarea-message"
            id="textarea-error"
          ></p>
        </div>
        
        <button type="submit" value="Submit" class="submit-button">Submit</button>
      </fieldset>
    </form>
  
</div> 
</div>
  <!-- <script type="module" src="../js/buy-now-modal.js"></script> -->


