<section class="features">
  <h1 class="features-header">OUR FEATURED PUMPKINS</h1>
  <p class="text">
    Discover our most popular pumpkins, perfect for all your seasonal needs.
    Whether it’s for carving, cooking, or décor, these are the best picks of the
    harvest.
  </p>
  <div class="features-flex-container">
    <div><p class="features-p-header">Jack-o’-Lantern Pumpkin</p></div>
    <div>
      <p class="features-p-header">Decorative Mini Pumpkins (Set of 3)</p>
    </div>
    <div><p class="features-p-header">Sugar Pie Pumpkin</p></div>
    <div><p class="features-p-header">White Ghost Pumpkin</p></div>
  </div>
</section>
