<!-- <footer class="footer">footer</footer> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Design</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/src/styles/footer.css">
</head>
<body>
    <footer class="footer">
        <div class="container">
            <div class="contact-info">
               
                <div class="brand-and-tagline">
                    <h2 class="brand-name">
                        <span class="highlight"><i>Midwest</i></span> <span class="white-text">Pumpkins</span>
                        <img class="brand-icon" src="/public/images/pumpkin_5948358.png">
                    </h2>
                    <p class="tagline">
                        <span class="highlight">Midwest Pumkins</span> <span class="white-text">:Harvesting</span><br>
                        <span class="white-text">Happiness, One Pumpkin at a Time.</span>
                    </p>
                </div>
                <address>
                    <p>Contact us</p><br>
                    <p>Midwest Pumpkins</p>
                    <p>123 Harvest Lane</p>
                    <p>Chicagoland, IL, 60007</p>
                    <p>+1 (773) 555-1234</p>
                    <p><a href="mailto:opencodechicago@gmail.com">opencodechicago@gmail.com</a></p>
                </address>
            </div>
            <div class="social-icons">
                
                <i class="fa-brands fa-github"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-linkedin"></i>
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-facebook"></i>
            
                
                
            </div>
        </div>
        <div class="footer-content">
            <div class="footer-nav">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Best pumpkins</a></li>
                    <li><a href="#">Top sellers</a></li>
                    <li><a href="#">Reviews</a></li>
                </ul>
            </div>
            <div class="footer-bottom">
                <p>©2024 Midwest Pumpkins by OpenCode Academy. All rights reserved.</p>
            </div>
        </div>
    </footer>
</body>
</html>