<footer>
  <div class="footer-container">
    <div class="footer-heading">
      <div class="logo-container">
        <p class="logo-heading">
          <span class="logo-heading-color">Midwest</span> Pumpkins
        </p>
        <svg aria-hidden="true">
          <use href="sprite.svg#icon-pumpkin-logo"></use>
        </svg>
      </div>
      <h3 class="footer-heading-text">
        <span class="footer-heading-colortext">Midwest Pumpkins</span
        >Harvesting Happiness, One Pumpkin at a Time.
      </h3>
      <ul class="footer-social-list" aria-label="Social Media Links">
        <li>
          <a
            href="https://github.com/OpenCodeChicago"
            target="_blank"
            aria-label="GitHub"
          >
            <svg class="icon" aria-hidden="true">
              <use href="sprite.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.youtube.com/@AlexSmaginDev"
            target="_blank"
            aria-label="YouTube"
          >
            <svg class="icon" aria-hidden="true">
              <use href="sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/company/open-code-chicago"
            target="_blank"
            aria-label="LinkedIn"
          >
            <svg class="icon" aria-hidden="true">
              <use href="sprite.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://x.com/alexsmagin29"
            target="_blank"
            aria-label="X"
          >
            <svg class="icon" aria-hidden="true">
              <use href="sprite.svg#icon-x-twitter"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/profile.php?id=61565627819350"
            target="_blank"
            aria-label="Facebook"
          >
            <svg class="icon" aria-hidden="true">
              <use href="sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-contact-container">
      <h4 class="contact-us">Contact us</h4>
      <address class="footer-address">
        <div>Midwest Pumpkins</div>
        <div>123 Harvest Lane</div>
        <div>Chicagoland, IL 60007</div>
        <div><a href="tel:+17735551234">+1 (773) 555-1234</a></div>
        <div>
          <a href="mailto:opencodechicago@gmail.com"
            >opencodechicago@gmail.com</a
          >
        </div>
      </address>
    </div>
    <div class="footer-nav-container">
      <nav>
        <span id="footer-navigation" hidden>Footer navigation</span>
        <ul class="footer-nav" aria-labelledby="footer-navigation">
          <li>
            <a href="#home">Home</a>
          </li>
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <a href="#best-pumpkins">Best pumpkins</a>
          </li>
          <li>
            <a href="#top-sellers">Top sellers</a>
          </li>
          <li>
            <a href="#reviews">Reviews</a>
          </li>
        </ul>
      </nav>
      <p class="footer-rights-text">
        ©2024 Midwest Pumpkins by OpenCode Academy. All rights
        reserved.
      </p>
    </div>
  </div>
</footer>
