<footer>
  <div class="footer-content">
    <div>
      <div>
        <h2>Midwest Pumpkins</h2>
        <svg>
          <use href="../../sprite.svg#icon-footer1"></use>
        </svg>
      </div>

      <svg>
        <use href="../../sprite.svg#icon-footer2"></use>
      </svg>

    </div>
    <h2>Midwest Pumpkins: Harvesting Happiness, One Pumpkin at a Time.</h2>
  </div>

  <div>
    <p>Contact us</p>
    <p>Midwest Pumpkins<br>
      123 Harvest Lane<br>
      Chicagoland, IL 60007<br>
      +1 (773) 555-1234<br>
      opencodechicago@gmail.com</p>
  </div>
  <hr>
  <div>
    <nav class="footer-nav">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Best pumpkins</a>
      <a href="#">Top sellers</a>
      <a href="#">Reviews</a>
    </nav>
  </div>

  <div class="footer-bottom">
    <p>©2024 Midwest Pumpkins by OpenCode Academy. All rights reserved.</p>
  </div>
</footer>