<header class="header">
    <div class="logo">
      <span class="orange-text">Midwest</span> Pumpkins <span class="logo-icon">🎃</span>
    </div>
    <nav>
      <ul class="desktop-menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Best pumpkins</a></li>
        <li><a href="#">Top sellers</a></li>
        <li><a href="#">Reviews</a></li>
      </ul>
      <div class="social-icons">
        <a href="#"><img src="github-icon.png" alt="GitHub"></a>
        <a href="#"><img src="youtube-icon.png" alt="YouTube"></a>
        <a href="#"><img src="linkedin-icon.png" alt="LinkedIn"></a>
        <a href="#"><img src="cancel-icon.png" alt="Cancel"></a>
        <a href="#"><img src="facebook-icon.png" alt="Facebook"></a>
      </div>
      <div class="burger-menu" id="burger-menu">
        <span class="burger"></span>
        <span class="burger"></span>
        <span class="burger"></span>
      </div>
    </nav>
  </header>

  <div class="mobile-menu" id="mobile-menu">
    <div class="mobile-nav">
      <span class="close" id="close-menu">✖</span>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Best pumpkins</a></li>
        <li><a href="#">Top sellers</a></li>
        <li><a href="#">Reviews</a></li>
      </ul>
      <div class="mobile-social-icons">
        <a href="#"><img src="github-icon.png" alt="GitHub"></a>
        <a href="#"><img src="youtube-icon.png" alt="YouTube"></a>
        <a href="#"><img src="linkedin-icon.png" alt="LinkedIn"></a>
        <a href="#"><img src="cancel-icon.png" alt="Cancel"></a>
        <a href="#"><img src="facebook-icon.png" alt="Facebook"></a>
      </div>
    </div>
  </div>