<header class="header" id="home">
  <div class="heading">
    <a class="logo-link" href="./index.html">
      <span>Midwest</span><span>Pumpkins</span>
      <svg aria-hidden="true">
        <use href="sprite.svg#icon-pumpkin-logo"></use>
      </svg>
      <span class="visually-hidden">Logo. Click for home.</span>
    </a>
  </div>
  <ul class="social-icons">
    <li>
      <a href="https://github.com/OpenCodeChicago">
        <img src="/images/mdi_github.svg" alt="github" />
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/@AlexSmaginDev">
        <img src="/images/mdi_youtube.svg" alt="youtube" />
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/company/open-code-chicago">
        <img src="/images/mdi_linkedin.svg" alt="linkedin" />
      </a>
    </li>
    <li>
      <a href="https://x.com/alexsmagin29">
        <img src="/images/mdi_twitter.svg" alt="twitter" />
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/profile.php?id=61565627819350">
        <img src="/images/mdi_facebook.svg" alt="facebook" />
      </a>
    </li>
  </ul>
  <nav>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#best Pumpkins">Best Pumpkins</a></li>
      <li><a href="#top-sellers">Top Sellers</a></li>
      <li><a href="#reviews">Reviews</a></li>
    </ul>
    <span id="nav-label" hidden>Toggle navigation</span>
    <button
      class="burger-menu__open"
      aria-expanded="false"
      aria-labelledby="nav-label"
    >
      <svg aria-hidden="true" class="burger-menu__icon">
        <use href="sprite.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </nav>
</header>
