<header class="header" id="home">
  <div class="heading">
    <a class="logo-link" href="./index.html">
      <span>Midwest</span><span class="dark-mode-text">Pumpkins</span>
      <svg aria-hidden="true">
        <use href="sprite.svg#icon-pumpkin-logo"></use>
      </svg>
      <span class="visually-hidden">Logo. Click for home.</span>
    </a>
  </div>
  <div class="desktop-menu-wrapper">
    <span id="desktop-social-media-links" hidden>
      Social Media Links
    </span>
    <ul
      class="header-social-icons desktop-menu"
      aria-labelledby="desktop-social-media-links"
    >
      <li>
        <a
          href="https://github.com/OpenCodeChicago"
          target="_blank"
          aria-label="GitHub"
        >
          <svg class="icon" aria-hidden="true">
            <use href="sprite.svg#icon-github"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/@AlexSmaginDev"
          target="_blank"
          aria-label="YouTube"
        >
          <svg class="icon" aria-hidden="true">
            <use href="sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.linkedin.com/company/open-code-chicago"
          target="_blank"
          aria-label="LinkedIn"
        >
          <svg class="icon" aria-hidden="true">
            <use href="sprite.svg#icon-linkedin"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://x.com/alexsmagin29"
          target="_blank"
          aria-label="X"
        >
          <svg class="icon" aria-hidden="true">
            <use href="sprite.svg#icon-x-twitter"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/profile.php?id=61565627819350"
          target="_blank"
          aria-label="Facebook"
        >
          <svg class="icon" aria-hidden="true">
            <use href="sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
    <nav>
      <span id="desktop-nav-label" hidden>Navigation</span>
      <ul
        class="menu desktop-menu"
        aria-labelledby="desktop-nav-label"
      >
        <li><a class="nav-item" href="#home">Home</a></li>
        <li><a class="nav-item" href="#about">About</a></li>
        <li>
          <a class="nav-item" href="#best-pumpkins">Best Pumpkins</a>
        </li>
        <li>
          <a class="nav-item" href="#top-sellers">Top Sellers</a>
        </li>
        <li><a class="nav-item" href="#reviews">Reviews</a></li>
      </ul>
      <span id="nav-label" hidden>Toggle navigation</span>
      <button
        class="burger-menu__open"
        aria-haspopup="true"
        aria-expanded="false"
        aria-labelledby="nav-label"
        aria-controls="mobile-menu"
      >
        <svg aria-hidden="true" class="burger-menu__icon">
          <use href="sprite.svg#icon-burger-menu"></use>
        </svg>
      </button>
    </nav>
    <span id="toggle-theme" hidden>Toggle color theme</span>
    <button class="dark-theme-btn" aria-labelledby="toggle-theme">
      <svg aria-hidden="true" class="dark-theme-icon">
        <use href="dark-mode.svg#sun"></use>
      </svg>
    </button>
  </div>
</header>
