<section class="hero">
  <div class="hero-inner">
    <div class="hero-image">
      <img src="/images/hero_image.jpg" alt="hero_image" />
    </div>
    <div class="hero-description">
      <h1>Best Pumpkins in the Midwest</h1>
      <p>
        At Midwest Pumpkins, we grow fresh, high-quality pumpkins in Illinois.
        Perfect for carving, cooking, or decorating, our pumpkins are
        hand-picked for the best taste and size every season
      </p>
      <div class="buttons">
        <button type="button" class="buy-now" id="buyNowButton">Buy Now</button>
        <a href="#top-sellers" class="top-seller" aria-label="View Top Sellers">
          Top Sellers
        </a>
      </div>
    </div>
  </div>
</section>
