<div id="subscribeModal" class="subscribe-modal">
  <div class="modal-header">
    <button type="button" class="close" id="close-subscribe-modal">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <div class="modal-content">
    <span>Explore our <br /><strong>pumpkin</strong> First!</span>
    <form id="subscribeForm" action="/">
      <input
        type="email"
        name="subscribe-email"
        placeholder="Enter your email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        required
      />
      <input type="submit" value="Subscribe" />
    </form>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
