<section class="top-sellers">
   <h2 class="top-sellers-header"><span class="top-sellers-color-text">TOP</span>SELLERS</h2>
   <div class="top-sellers-flex-container">
      <img class="top-sellers-image" src="#" alt="orange pumpkins">
      <img class="top-sellers-image" src="#" alt="white pumpkins">
      <img class="top-sellers-image" src="#" alt="small orange pumpkins">
   </div>
   <p class="top-sellers-text">Our top-selling pumpkins are the perfect choice for any occasion. Loved by our customers for their exceptional quality, these pumpkins are not only organically grown but also packed with nutrients. Whether for carving, cooking, or decoration, these favorites are sure to bring a fresh, healthy touch to your home.</p>
   <button>Buy now</button>
</section>
