<section id="top-sellers" class="top-sellers">
  <h2 class="top-sellers-header">
    <span class="top-sellers-color-text">TOP</span>SELLERS
  </h2>
  <div class="top-sellers-flex-container">
    <img class="top-sellers-image" src="https://tse4.mm.bing.net/th?id=OIP.8YnUwkWf30WOq2FpESp7LwHaFO&pid=Api&P=0&h=180" alt="orange pumpkins" />
    <img class="top-sellers-image" src="https://tse4.mm.bing.net/th?id=OIP._VPwrgoLCzYIQupW6OIpIQHaEo&pid=Api&P=0&h=180" alt="white pumpkins" />
    <img class="top-sellers-image" src="https://tse3.mm.bing.net/th?id=OIP.Fjq7rUMi0yZBvlryHo5lPQHaEL&pid=Api&P=0&h=180" alt="small orange pumpkins" />
    
  </div>
  <p class="top-sellers-text">
    Our top-selling pumpkins are the perfect choice for any occasion. Loved by
    our customers for their exceptional quality, these pumpkins are not only
    organically grown but also packed with nutrients. Whether for carving,
    cooking, or decoration, these favorites are sure to bring a fresh, healthy
    touch to your home.
  </p>
  <button>Buy now</button>
</section>
